.floating-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 50px;
  width: 160px;
  z-index: 9999;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.floating-btn div {
  height: 50px;
  width: 160px;
  border: none;
  border-radius: 13px;
  background-color: var(--primaryBg);
  box-shadow: 0px -2px 8px 0px var(--primaryHi) inset;
  color: var(--primaryFg);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(0px);
  transition: all 0.3s ease;
}

.floating-btn span {
  width: 100px;
  height: 60px;
  background-color: var(--primaryHi);
  border-radius: 100%;
  filter: blur(15px);
  position: absolute;
  bottom: -45%;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.floating-btn:hover > span {
  bottom: -40%;
  filter: blur(12px);
  transform: scale(1.05);
  opacity: 0.6;
}

.floating-btn:hover > div {
  transform: translateY(4px);
}

.floating-btn.first {
  top: 12%;
  left: 15%;
}

.floating-btn.first > div {
  background-color: var(--accentBg);
  box-shadow: 0px -2px 8px 0px var(--accentHi) inset;
}

.floating-btn.first > span {
  background-color: hsla(200, 88%, 46%, 0.3);
}

.floating-btn.sec {
  bottom: 20%;
  right: 15%;
}

.floating-btn.sec > div {
  background-color: var(--accentBg);
  box-shadow: 0px -2px 8px 0px var(--accentHi) inset;
  color: var(--accentFg);
}

.floating-btn.sec > span {
  background-color: rgba(100, 255, 218, 0.25);
}

.nav-btn > div {
  background-color: rgba(100, 255, 218, 0.05);
  box-shadow: 0px -2px 8px 0px rgba(100, 255, 218, 0.2) inset;
  color: #64ffda;
}

.nav-btn > span {
  background-color: rgba(100, 255, 218, 0.2);
}
